<div class="empty-state">
  <p class="empty-state__text">
    You don't have any notes now. Create one right now!
  </p>
  
  <%= link_to "Create note!", new_note_url, class: "btn btn--primary" %>
</div>
