<div class="note">
  <%= link_to note.name, note_url(note) %>
  <div class="note__actions">
    <%= button_to "Delete", note_url(note), method: :delete, class: "btn btn--light" %>
    <%= link_to "Edit", edit_note_url(note), class: "btn btn--ligh" %>
  </div>
</div>
